<div class="main-content">
    <div class="container-fluid">
        <div class="row">zzz
            <div class="col-md-12" id="htmlData" #htmlData>
                <h3>Curriculum Vitae</h3>
                <table class="table table-bordered">
                    <tr class="table-primary">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Phone</th>
                    </tr>
                    <tr *ngFor="let user of USERS">
                        <th>{{user.id}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.phone}}</td>
                    </tr>
                </table>
                <br>
                <!-- <img class="logo" src="/assets/img/cv.png" /> -->
                <h5>Hola me llamo lala</h5>
            </div>



        </div>
        <div class="col-md-4 text-right">
            <button class="btn btn-success btn-block" (click)="getPDF()">Download PDF</button>
        </div>
    </div>
</div>